body {
    background-color: #1A202C;
    text-align: center;
}

.main_div {
  text-align: center;
}
.mainBox{

  display: inline-block;
  background: white;
  color: black;
  border-style: solid;
  border-width:thick;
  padding: 10px;
  text-align: left;
  vertical-align: middle;

}
