<!DOCTYPE html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="description" content="Acenka: A CMS Scanner">
   	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='css/termynal.css')}}">
 		<title>Acenka: A CMS Scanner</title>
		<!-- <script type=text/javascript src="{{ url_for('static', filename='js/termynal.js')}}" data-termynal-container="#termynal"></script> -->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
		<script type=text/javascript>
				$(function() {
			  	$('a#baseButton').bind('click', function() {
						$.getJSON('/result', {
				  	website: $('input[name="website"]').val(),
					}, function(data) {
				  	$("#termynal").html(data.result);
					});
					return false;
			  	});
				});
		</script>
 	</head>
 	<body>
		<div class="main_div">
			<image src="{{ url_for('static', filename='images/images2.png')}}">
				<br><br><br><br><br><br><br>
			<form id="mainForm">
				<input id="searchbox" type="text" name="website">
				<div id = "basicButton">
					<a href=# id="baseButton"><input type="submit" name="button" value="basicInfo"></a>
				</div>
			</form>
			<br><br><br>
			<div class="mainBox" id="termynal" data-termynal data-ty-typeDelay="40" data-ty-lineDelay="700">
				
			</div>
			<br>
			<div class="mainBox" id="downloads">
				<a href="{{ url_for('reportDownload',filename="portScan.txt")}}" id="nmapDL"><button>NMAP`</button></a>
				<a href="{{ url_for('reportDownload',filename="cms_Scan.txt")}}" id="cmsDL"><button>CMS Scan</button></a>
			</div>
		</div>
		<script src="{{ url_for('static', filename='js/termynal.js')}}" data-termynal-container="#termynal"></script>
	</body>
</html>
