<!DOCTYPE html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
  	<link rel="shortcut icon" href="" type="image/x-icon">
  	<meta name="description" content="Acenka: A CMS Scanner">
   	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
   	<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
 	<title>Acenka: A CMS Scanner</title>
 </head>
 <body>
	 			<div class="logo">
					<image src="{{ url_for('static', filename='images2.png')}}">
				</div>
        <form method="POST">
        	<div class="searchBox">
            <input class="searchInput" type="text" name="website" placeholder="Search">
            <button class="searchButton" type="submit" id="sub">
                <i class="material-icons">
                    search
                </i>
            </button>
        	</div>
  </body>
  </html>
